<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/dist/js/vendor.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/dist/css/vendor.css" asp-append-version="true" />

    <title>@ViewData["Title"] - Application name</title>
    @RenderSection("Styles", required: false)
</head>

<body id="body">
    <div style="display: none">
        @RenderSection("Components", required: false)
    </div>

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/users/" class="nav-link px-2 link-secondary">Users</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © @DateTime.Now.Year Copyright:
            <a class="text-dark" href="/">company</a>
        </div>
        @RenderSection("Scripts", required: false)
    </footer>
    
</body>
</html>

